# Виключити все за замовчуванням
*

# Включити специфічні папки та їхній вміст
!botvfadangerboys/
!botvfadangerboys/**
!cloudflared-tunnel/
!cloudflared-tunnel/**
!dangerboys/
!dangerboys/**

# Не виключати сам .gitignore
!.gitignore